.number{
font-size: 90px;

}

button{
width: 100%;
} 
.answer{
    font-size: 40px;
}
/* .col-lg-8{
    width: 48%;
}
.col-lg-4{
    width: 50%;
} */
.displayArea{
    min-height: 60px;
    min-width: 50%;
    
}


.funcButton{
    width: 100%;
    font-size: 20px;
}
.numDisplay{
    font-size: 40px;
   
width:30%
}
.opDisplay{
    font-size: 40px;
    min-height: 40px;
    
    width:30%
}