.number{
font-size: 90px;

}
button{
width: 100%;
} 
.answer{
    font-size: 40px;
}
/* .col-lg-8{
    width: 48%;
}
.col-lg-4{
    width: 50%;
} */
.displayArea{
    min-height: 60px;
    min-width: 50%;
    background-color: brown
}


.funcButton{
    width: 100%;
    font-size: 20px;
}
.numDisplay{
    font-size: 40px;
    background-color: antiquewhite;
width:30%
}
.opDisplay{
    font-size: 40px;
    min-height: 40px;
    background-color: rgb(37, 114, 84);
    width:30%
}